body {
    background-color: #f7b2a6;
    font-family: Georgia, "Times New Roman", serif;
    margin: 3rem auto;
    max-width: 40rem;
    padding: 1rem;
    font-size: 1.2rem;
}

h1,
h2 {
    margin-top: 0;
    font-weight: 200;
}

input,
select,
textarea,
button {
    margin-top: 0.5rem;
    padding: 0.5rem;
}

.title {
    font-size: 3rem;
}

.subtitle {
    margin-top: 2rem;
    font-size: 2rem;
}

.field,
label {
    display: block;
    margin-top: 1rem;
}

#submit-button {
    margin-top: 1rem;
    display: block;
}

#result {
    margin-top: 2rem;
}
